img {
  width: 400px;
  display: block;
  margin: 0 auto;
}

td, th {
    border: 1px solid white
}


.column-left{
  float: left;
  width: 30%;
  text-align: left;
}
.column-center{
  display: inline-block;
  width: 69%;
  text-align: left;
}
.column-right{
  float: right;
  width: 69%;
  text-align: left;
}

